!!! 5
html
    head
        title= humanized
        link(rel='stylesheet', href='/static/style.css')
    body
        h1 There's no upcoming break
        h2= "Last one was " + humanized
        h2= now + " -> " + break_time
