!!! 5
html
    head
        title= humanized
        link(rel='stylesheet', href='/static/style.css')
    body
        h1 There might be one right now
        h2= "It started " + humanized
        h2= now + " -> " + break_time
